:root {
  background-image: url(https://wallpaperaccess.com/full/100396.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

li {
  color: white;
  list-style-type: none;
  text-shadow: 0.5px 0.5px black;
}

p {
  color: yellow;
  text-shadow: 4px 4px navy;
  text-align: center;
  font-size: 65px;
  font-family: "Special Elite", cursive;
}

h2 {
  font-family: "Special Elite", cursive;
  margin-top: -0.5rem;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 75px;
}

input {
  text-align: center;
}

.container {
  padding-top: 250px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

button {
  justify-content: center;
  font-family: "Bungee", cursive;
  background-color: rgb(255, 52, 52);
  border-radius: 100px;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 25px;
  width: 265px;
}

button:hover {
  background-color: rgb(0, 255, 221);
  color: black;
  cursor: crosshair;
}

#startpage {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  font-family: "Teko", sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px yellow;
  font-weight: bolder;
  text-align: center;
}
#quiz {
  display: none;
}

#result {
  display: none;
}

#gameover {
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
}

#highScore {
  height: 1.5rem;
  border: groove 2px;
}

#high-scorePage {
  display: none;
  width: 50%;
  border: solid;
  border-color: silver;
  border-top-style: groove;
  border-bottom-style: groove;
  padding-bottom: 0.3rem;
  background-image: url(https://lh3.googleusercontent.com/proxy/Bcgv9VBtm3anOb-aFhDubhRACR9ZbTec2WQo7oO-pQ65MY7OQuSWcn1j7phxbl8gWu4TayHfVlYtSwNHSGExiiCSsJS_Tzs);
}

#highscore-header {
  display: flex;
  height: 42px;
  justify-content: space-around;
  text-align: center;
  background-color: blue;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
#highscoreContainer {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#initials {
  margin: 0.8rem;
  height: 1.75rem;
}

#highscore-initials {
  justify-content: space-evenly;
  float: left;
  padding-left: 9.45rem;
  font-family: sans-serif;
  font-weight: bold;
}

#highscore-score {
  float: right;
  padding-right: 8.75rem;
  font-family: sans-serif;
  font-weight: bold;
}

#finalScore {
  padding-bottom: 0.5rem;
  color: whitesmoke;
  text-shadow: 1px 1px blue;
  font-size: 35px;
  font-family: "Bungee", cursive;
  font-weight: bold;
}

#endGameBtns {
  display: none;
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 780px) {
}
@media screen and (max-width: 1020px) {
}

